$body-bg-color: #111;
$main-text-color: #eee;
$secondary-text-color: #d0d0d0;
$connection-color: #0085ff;
$border-color: #373737;
$cards-bg-color: #191d22;
$table-header-gb: #0b1c3b;
$main-blue-color: #0085ff;
$menu-hover-color: #555;
$nav-menu-bg-color: #0a214f;
$secondary-blue-color: #0a214f;

body {
    font-family: "Roboto", sans-serif;
    background-color: $body-bg-color;
    color: $main-text-color;
    overflow-x: hidden;
}

.root-container {
    width: 100%;
    margin: 0 auto;
}

div.eva.login.logo {
    &:before {
        content: url("../icon.svg");
    }
}

div.eva.login.header {
    &:before {
        content: "EVA ICS node system dashboard";
    }
}

div.eva.login.progress {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    color: transparent;
    transform: translate(-50%, -50%);
    background-color: #003499;
    box-shadow: 1em 0 0 currentcolor;
    border-radius: 50%;
    animation: loader 1s ease-in-out infinite alternate;

    @keyframes loader {
        0% {
            opacity: 0.1;
            transform: rotate(0deg) scale(0.5);
        }

        100% {
            opacity: 1;
            transform: rotate(360deg) scale(1.2);
        }
    }
}

.bmat-dashtable-filter-label-container + input,
.bmat-dashtable-filter-label-container + select,
.filter-field {
    color: black;
}
