$body-bg-color: #111;
$main-text-color: #eee;
$secondary-text-color: #d0d0d0;
$connection-color: #0085ff;
$border-color: #373737;
$cards-bg-color: #191d22;
$table-header-gb: #0b1c3b;
$main-blue-color: #0085ff;
$menu-hover-color: #555;

body {
  font-family: "Roboto", sans-serif;
  background-color: $body-bg-color;
  color: $main-text-color;
  overflow-x: hidden;
}

.root-container {
  width: 100%;
  margin: 0 auto;
}

div.eva.login.logo {
  &:before{
    content: url("../icon.svg");
  }
}

div.eva.login.header {
  &:before {
    content: "EVA ICS node system dashboard"
  }
}
