@use "mixin" as *;
@use "base" as *;

.print-hidden {
    @media print {
        display: none;
    }
}

.time-info {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    font-size: 8px;
    @media print {
        display: block;
    }
}

.current-user {
    @media print {
        display: none;
    }
}

.dash-info {
    display: flex;
    align-items: center;
}

.dash-logo {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: inline-block;
}

.bmat-dashtable-title {
    @media print {
        color: black;
        font-size: 18px;
        font-weight: bold;
    }
}

.dash-title {
    display: inline-block;
}

.dashboard-main-wrapper {
    margin-bottom: 20px;
}

.dashboard-main-wrapper-small {
    padding: 0 20px;
    max-width: 1300px;
    @include media(tablet) {
        padding: 0 40px;
    }
    @media print {
        padding: 0px;
    }
}

.dashboard-main-wrapper-big {
    padding: 0 0px;
    @include media(desktop) {
        padding: 0 40px;
    }
    @media print {
        padding: 0px;
    }
}

.data-active {
    color: #55bb55;
}

.data-inactive {
    color: #555555;
}

.dashboard-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;

    &__connection {
        padding: 17px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 10px;
        color: $connection-color;
        border: 1px solid $border-color;
    }
}

.editors-select {
    border-color: white !important;
}

.dashboard-main-wrapper-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;

    @include media(desktop) {
        flex-direction: row;
        width: 100%;
        margin-top: 50px;
    }
}

.bmat-dashtable-container {
    background-color: $cards-bg-color;
    color: $main-text-color;
}

.bmat-dashtable {
    border: 0.5px solid $border-color;

    & button {
        background-color: $connection-color;
    }
}

.info-table {
    border: 0.5px solid $border-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 0.8;
    letter-spacing: 0.12px;
    width: 100%;
    @media print {
        color: black;
    }
}

.bmat-dashtable-row-even {
    background-color: #191d22;
}

.bmat-dashtable-row-odd {
    background-color: #121721;
}

.dashboard-main-content-block__header {
    padding: 10px 5px;
}

.content-info {
    height: 100%;
    @include media(tablet) {
        padding: 20px;
    }
    @media print {
        color: black;
    }
}

.content-longtable {
    height: 100%;
    overflow: auto;
}

.dashboard-main-wrapper-content__side-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.dashboard-main-wrapper-content__side-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .dashboard-main-content-gauges {
        color: $main-text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        background-color: $cards-bg-color;

        @include media(desktop) {
            height: 225px;
            width: 100%;
        }
    }
}

th {
    background-color: $table-header-gb;
}

td {
    padding: 7px;
    font-size: 10px;
    white-space: nowrap;

    @media print {
        white-space: normal;
    }

    @include media(tablet) {
        font-size: 14px;
        padding: 10px;
    }
}

.gauge-text-default-color {
    fill: $secondary-text-color;
}

.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gauge-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 4px 4px 20px 0px rgba(10, 10, 10, 0.24);
    padding: 20px;
}

.gauge-preview {
    max-width: 100%;
    overflow: visible;
}

.gauge-value {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 500;
    fill: #6b7280;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gauge-label {
    font-weight: normal;
    margin-right: 5px;
}

.gauge-progress-background-color {
    stroke: #f7fafc;
}

.gauge-text-default-color {
    user-select: none;
    font-size: 0.875rem;
    font-weight: 500;
    fill: #6b7280;
}

.gauge-middle-base-color {
    fill: #d1d5db;
}

.gauge-midpoint-color {
    fill: #ccc;
}

.gauge-tick-color {
    stroke: #ccc;
}

.gauge-needle-color {
    fill: #374151;
}

.gauge-progress-color {
    stroke: #50c878;
}

.gauge-warning-progress-color {
    stroke: #f0e130;
}

.gauge-critical-progress-color {
    stroke: #e32636;
}

.gauge-label-circle {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #c1c1c1;
    top: 45%;
    margin: 0;
}

.gauge-value-result {
    position: absolute;
    font-size: 16px;
    color: #c1c1c1;
    bottom: 35%;
    margin: 0;
}

.admin-required-container {
    text-align: center;
}

.admin-required-info {
    margin-top: 50px;
}

.admin-required-links {
    margin-top: 50px;
    > a {
        text-decoration: underline;
        font-size: 20px;
        padding: 20px;
    }
}

.admin-required {
    font-size: 30px;
    font-weight: bold;
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.item-state-error {
    color: #eeee55;
}

.item-state-disconnected {
    color: #555;
}

.table-items {
    table {
    }
}

.item-state-value {
    white-space: normal;
    line-height: 18px;
}

.item-state-buttons {
    width: 120px;
    button {
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
        @include media(tablet) {
            margin-bottom: 5px;
        }
        @include media(desktop) {
            margin-bottom: 0px;
        }
    }
}

td.task-sched-other {
    color: #999;
}

td.task-sched-realtime {
    color: #55ee55;
}

tr.log-record-debug {
    color: #555;
}

tr.log-record-warn {
    color: #eeee55;
}

td.cpu-usage-warn {
    color: #eeee55;
}

td.cpu-usage-crit {
    color: #ee5555;
}

tr.log-record-error {
    color: #ee5555;
    font-weight: bold;
}

.log-record-message {
    white-space: normal;
    line-height: 18px;

    > pre {
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        @include media(tablet) {
            font-size: 12px;
        }
    }
}

td.col-fit {
    width: 1%;
    white-space: nowrap;
}

td.col-uptime {
    width: 150px;
    white-space: nowrap;
    @media print {
        white-space: normal;
    }
}

td.col-time {
    width: 230px;
    white-space: nowrap;
    @media print {
        white-space: normal;
    }
}

.bmat-dashtable {
    @media print {
        color: black;
        border-collapse: collapse;
        border: 1px solid black;
        tbody > tr {
            padding: 0px;
            border: 1px solid black;
        }
        thead > tr {
            padding: 0px;
            border: 2px solid black;
        }
        thead > tr > th {
            text-align: left;
            font-size: 14px;
            padding: 10px;
        }
        tbody > tr > td {
            padding: 10px;
        }
    }
}

.bmat-dashtable-filter-label {
    cursor: pointer;
    user-select: none;
    border: 1px solid #999;
    padding: 2px;
    background-color: #222;
    border-radius: 4px;
}

.bmat-dashtable-filter-label-off {
    color: #555;
    text-decoration: line-through;
    border: 1px solid #555;
}

.bmat-dashtable-filter-label-button {
    display: inline-block;
    position: relative;
    top: 1px;
    padding: 4px;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.filter-label-disabled {
    color: #555;
}

.bmat-dashtable-filter {
    > div {
        padding: 5px;
    }
    @media print {
        display: none;
    }
}

.eva-error {
    color: #ee5555;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
    a {
        text-decoration: underline;
    }
    a:hover {
        color: orange;
    }
}

.bmat-dashtable-filter > div > label > input {
    margin-right: 2px;
}

.bmat-dashtable-col:hover .bmat-dashtable-filter-button-add {
    visibility: visible;
}

.bmat-dashtable-filter-button-add {
    display: inline-block;
    width: 5px;
    margin-left: 2px;
    color: #117711;
    cursor: pointer;
    visibility: hidden;
}

.bmat-dashtable-filter-button-remove {
    display: inline-block;
    color: #ee2222;
    cursor: pointer;
}

.print-info-bar {
    display: none;
    white-space: nowrap;
    padding-left: 10px;
    color: black;
    @media print {
        display: block;
        white-space: normal;
    }
}

.button-bar {
    padding-top: 10px;
    padding-left: 20px;
    @media print {
        display: none;
    }
}

.bmat-dashtable-filter-label-container {
    display: inline-block;
}

.bmat-dashtable-filter-spacer {
    display: inline-block;
    width: 14px;
}

.never-wrap {
    white-space: nowrap;
    @media print {
        white-space: nowrap;
    }
}

.bmat-dashtable-sort-arrow {
    @media print {
        display: none;
    }
}
