@use "mixin" as *;
@use "base" as *;

.header {
    padding: 11px 0;
    @media print {
        padding-top: 0px;
        padding-bottom: 3em;
    }
}

.header-info {
    display: inline-block;
    position: absolute;
    padding-right: 5px;

    @include media(desktop) {
        position: relative;
        top: 0px;
        padding-left: 30px;
    }
    @media print {
        padding: 0px;
        color: black;
    }
}

nav#header {
    position: absolute;
    top: 2px;
    right: 40px;
    border-bottom: 1px solid #323741;
    display: none;
    @include media(desktop) {
        display: block;
    }
    > ul > li {
        display: inline;
    }
    @media print {
        display: none;
    }
}

a.nav-link-container {
    display: inline-block;
    padding: 10px 20px;
    color: $secondary-text-color !important;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: #103b92;
        }
    }
}

a.nav-link-container-current {
    position: relative;
    color: #fff;

    &:after {
        position: absolute;
        content: "";
        bottom: -1px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $main-blue-color;
    }
}

.nav-link {
    user-select: none;
    cursor: pointer;
    > a {
        font-size: 16px;
        color: #999;

        @media (hover: hover) and (pointer: fine) {
            :hover {
                background-color: #103b92;
            }
        }
    }
}

.nav-link-current {
    > a {
        color: #fff;
    }
}

.submenu {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    background-color: $nav-menu-bg-color;
    outline: 1px solid blue;
}

.submenu-item {
    user-select: none;
    position: relative;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: #103b92;
        }
    }
}

.submenu-item > a {
    display: block;
    padding: 10px 20px;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.submenu-item-current > a {
    display: block;
    padding: 10px 20px;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid blue;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: #103b92;
        }
    }
}
