.header {
  padding: 35px 0;
}

.header-info {
  display: inline-block;
  position: absolute;
  top: 15px;
  padding-left: 10px;
  @include media(tablet) {
    position: relative;
    top: 0px;
    padding-left: 30px;
  }
}

nav#header {
  position: absolute;
  top: 2px;
  right: 40px;
  border-bottom: 1px solid #323741;
  display: none;
  @include media(tablet) {
    display: block;
  }
  > ul > li {
    display: inline;

    @media (hover: hover) and (pointer: fine) {
      :hover {
        //background-color: $menu-hover-color;
      }
    }
  }
}

.nav-link-container {
  display: inline-block;
  padding: 10px 20px;
  color: $secondary-text-color;
}

.nav-link-container-current {
  position: relative;
  color: #fff;
  background-color: $nav-menu-bg-color;

  &:after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $secondary-text-color;
  }
}

.nav-link {
  > a {
    font-size: 16px;
    color: #999;
  }
}

.nav-link-current {
  > a {
    color: #fff;
  }
}

.submenu {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  background-color: $nav-menu-bg-color;
}
.submenu-item {
  padding: 10px 20px;

  &.submenu-item-current {
    &:after {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $secondary-text-color;
    }
  }
}
