// #sidebar > ul > li {
//     margin-top: 20px;
//     margin-bottom: 20px;
// }

.side-menu-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    &.open {
        transform: translateX(0);
    }
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-container {
    position: relative;
    background-color: $body-bg-color;
    width: 200px;
    padding: 40px 20px;
    height: 100%;
    overflow: auto;
}
.menu-icon-btn {
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $main-text-color;
    @include media(desktop) {
        display: none;
    }
}

.close-icon-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $main-text-color;
}

.subitem-list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #0a214f6b;

    & > li {
        user-select: none;
        font-size: 14px;
        color: $secondary-text-color;
        padding: 5px;
    }
}

.side-menu-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.side-menu-current {
    user-select: none;
    padding: 5px;
    background-color: $secondary-blue-color;
    color: $secondary-text-color;
}

.side-menu-item {
    user-select: none;
    font-size: 16px;
    padding: 5px;
}
